@using RecipePrototype.Models
@model IEnumerable<RecipePrototype.Models.Recipe>

@{
    ViewBag.Title = "Search";
}
<h2>Lydia's Recipes</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Search", "Home"))
{
    @Html.TextBox("searchTerm")
    <input type="submit" value="Search" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            <p>Notes</p>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeightWatchersPoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MealType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HealthyRating)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Method)
            </td>
            <td>
                @if (item.Ingredients != null)
                {
                    foreach (var ingredient in item.Ingredients)
                    {
                        @Html.Raw(ingredient.Name)
                        @Html.Raw(", ")
                    }
                }


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightWatchersPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MealType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HealthyRating)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
